// 定位
.flex-row-wrap {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flex-row-nowrap {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-col-wrap {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.flex-col-nowrap {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.overflow-mag {
	width: 100%;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}


// 吸顶控制
.stickyTop {
	position: -webkit-sticky;//safari 里这样写
	position: sticky;
	top: 0;
	z-index: 1;
}

